{% include "header.html" %}
{% from "bootstrap5/form.html" import render_form %}
<!-- Page Header-->
<header class="masthead" >
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">

      </div>
    </div>
  </div>
</header>

  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        {% for product in products %}
      <div>

        <h1>{{ product.title }} </h1>
      {{ product.description }} <br>
      {{ product.price }} <br>
      <img src="{{product.img_url}}">
        <a href="{{ url_for('delete_product', service_id=product.id) }}">Delete </a>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
  <h2>Total Price: {{ price }}</h2>
<form action="{{ url_for('create_checkout_session') }}" method="POST">
    <button type="submit" class="btn btn-primary">Checkout with Stripe</button>
</form>
{% include "footer.html" %}
