{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/home-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>Generic E-commerce Site</h1>
          <span class="subheading">Buy whatever you want !</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      <!-- Post preview-->
      {% for service in all_services %}
      <div class="post-preview">
        <a href="{{ url_for('show_service', service_id=service.id)}}">

        </a>
        <h1>{{ service.title }} </h1>
        <a href="{{url_for('add_cart', service_id=service.id, title=service.title, description=service.description, price=service.price, img_url=service.img_url) }}">Add to cart</a>
<!--      <form action="{{ url_for('add_cart', service_id=service.id) }}" method="POST">-->
<!--  <div class="quantity-input">-->
<!--    <button type="button" class="minus-btn" onclick="decreaseQuantity()">-</button>-->
<!--    <input type="number" id="quantity" name="quantity" value="1" min="1">-->
<!--    <button type="button" class="plus-btn" onclick="increaseQuantity()">+</button>-->
<!--  </div>-->
<!--  <input type="submit" value="Add to Cart">-->
<!--</form>-->

        {{ service.description }} <br>
      {{ service.price }} <br>

      <img src="{{service.img_url}}">
  {% if current_user.id == 1: %}
        <div><a href="{{url_for('edit_service', service_id=service.id)}}">Edit Product</a>
            <div><a href="{{url_for('delete_product_completely', service_id=service.id)}}">Delete Product</a>
        {% endif %}
      </div>
      <!-- Divider-->
      <hr class="my-4" />
      {% endfor %}

      <!-- New Post -->
      {% if current_user.id == 1: %}
      <div class="d-flex justify-content-end mb-4">
        <a
          class="btn btn-primary float-right"
          href="{{url_for('add_new_service')}}"
          >Create New Product/Service</a
        >
      </div>
      {% endif %}
      <!-- Pager-->

    </div>
  </div>
</div>

{% include "footer.html" %}
